@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

ul,
ol,
li {
  list-style: none;
}

.dropdown-header {
  position: fixed;
  top: 135px;
  left: 0;
  width: 100%;
  min-height: 460px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.dropdown-header.active {
  top: 110px;
  opacity: 1;
  visibility: visible;
}
.dropdown-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}
.dropdown-head {
  background-color: #252B2E;
  position: relative;
  z-index: 2;
  padding: 10px 0px;
  text-align: center;
  color: white;
}
.dropdown-head-title {
  font-size: 16px;
}
.dropdown-body {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
  background-color: white;
}
.dropdown-body-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.dropdown-body-row-svg {
  border-bottom: 2px solid #E89F38;
}
.dropdown-body-row-link {
  display: flex;
  align-items: center;
}
.dropdown-body-row-subtitle {
  width: 300px;
  margin-bottom: 30px;
  font-size: 16px;
}
.dropdown-body-row-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.dropdown-body-row-left {
  padding-top: 40px;
  width: 50%;
  display: flex;
  flex-direction: row;
  z-index: 3;
}
.dropdown-body-row-left-link {
  display: flex;
  align-items: center;
  font-size: 12px;
  transition: all 0.1s ease-in-out;
  z-index: 3;
}
.dropdown-body-row-left-link:hover {
  font-weight: bold;
}
.dropdown-body-row-left-right {
  margin-right: 0px;
  margin-left: 60px;
  z-index: 3;
}
.dropdown-body-row-right {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.08) 0%, rgba(255, 255, 255, 0.5) 100%);
  width: 50%;
  display: flex;
  flex-direction: row;
  padding: 140px 0px 190px 100px;
  gap: 150px;
  z-index: 3;
}
.dropdown-body-row-right-left {
  display: flex;
  flex-direction: column;
  gap: 28px;
  z-index: 3;
}
.dropdown-body-row-right-left-top {
  width: 120px;
}
.dropdown-body-row-right-left-title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}
.dropdown-body-row-right-left-title1 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}
.dropdown-body-row-right-left-subtitle {
  font-size: 12px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.dropdown-body-row-right-left-subtitle:hover {
  font-weight: bold;
}
.dropdown-body-row-right-left-subtitle:not(:last-child) {
  margin-bottom: 6px;
}
.dropdown-body-row-right-right {
  display: flex;
  flex-direction: column;
  gap: 28px;
  z-index: 3;
}
.dropdown-body-row-right-right-top {
  width: 300px;
}
.dropdown-body-row-right-right-global {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4px;
}
.dropdown-body-row-right-right-title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}
.dropdown-body-row-right-right-subtitle {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.dropdown-body-row-right-right-subtitle:hover {
  font-weight: bold;
}
.dropdown-body-row-right-right-subtitle1 {
  width: 22px;
  height: 22px;
  background-color: #705c25;
  border-radius: 50%;
}
.dropdown-body-row-right-right-subtitle1:hover {
  border: 3px solid black;
}
.dropdown-body-row-right-right-subtitle2 {
  width: 22px;
  height: 22px;
  background-color: #f2007b;
  border-radius: 50%;
}
.dropdown-body-row-right-right-subtitle2:hover {
  border: 3px solid black;
}
.dropdown-body-row-right-right-subtitle3 {
  width: 22px;
  height: 22px;
  background-color: #cbcbcb;
  border-radius: 50%;
}
.dropdown-body-row-right-right-subtitle3:hover {
  border: 3px solid black;
}
.dropdown-body-row-right-right-subtitle4 {
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 50%;
}
.dropdown-body-row-right-right-subtitle4:hover {
  border: 3px solid black;
}
.dropdown-body-row-right-right-subtitle5 {
  width: 22px;
  height: 22px;
  background-color: #8252dd;
  border-radius: 50%;
}
.dropdown-body-row-right-right-subtitle5:hover {
  border: 3px solid black;
}
.dropdown-body-row-right-right-subtitle6 {
  width: 22px;
  height: 22px;
  background-color: #0dc13a;
  border-radius: 50%;
}
.dropdown-body-row-right-right-subtitle6:hover {
  border: 3px solid black;
}

.fon-img {
  position: absolute;
  display: flex;
  right: 0;
  top: 24.3%;
  z-index: -1;
  width: 360px;
  height: 360px;
}

.fon-img2 {
  position: absolute;
  display: flex;
  right: 0;
  top: 19.9%;
  z-index: -1;
  width: 360px;
  height: 360px;
}

.container {
  width: 1040px;
  height: auto;
}

.wrapper {
  font-family: "Montserrat", "sans-serif";
}
.wrapper .header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: absolute;
  z-index: 10;
}
.wrapper .header-container {
  width: 1040px;
  height: auto;
}
.wrapper .header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 14px;
}
.wrapper .header-navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 22px;
}
.wrapper .header-navbar-item {
  position: relative;
}
.wrapper .header-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
.wrapper .header-link {
  transition: all 0.2s ease-in-out;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 42px;
}
.wrapper .header-link.active {
  color: #E89F38;
  border-bottom: 2px solid #E89F38;
}
.wrapper .header-link:hover {
  color: #E89F38;
  border-bottom: 2px solid #E89F38;
}
.wrapper .header-button path {
  transition: all 0.2s ease-in-out;
}
.wrapper .header-button:hover path {
  fill: #E89F38;
}
.wrapper .header-menu {
  position: absolute;
  bottom: 0;
  right: -100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}
.wrapper .header-menu.active {
  right: 0;
  opacity: 1;
  visibility: visible;
}
.wrapper .header-menu.active .header-menu-bg {
  opacity: 1;
  visibility: visible;
}
.wrapper .header-menu-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.wrapper .header-menu-panel {
  z-index: 3;
  position: relative;
  width: 350px;
  height: calc(100vh - 100px);
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wrapper .header-menu-panel-block {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.wrapper .header-menu-panel-block-button {
  transition: all 0.2s ease-in-out;
  border: 1px solid black;
  padding: 11px 15px;
  border-radius: 3px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.wrapper .header-menu-panel-block-button:hover {
  background-color: #2B2B2B;
  color: #fff;
}
.wrapper .header-menu-panel-block-2-info {
  font-size: 16px;
  margin-bottom: 10px;
}
.wrapper .header-menu-panel-block-2-title {
  font-size: 14px;
}
.wrapper .header-menu-panel-block-title {
  border-top: 1px dashed black;
  font-size: 14px;
  padding-top: 10px;
}
.wrapper .header-menu-panel-block-titlee {
  font-size: 14px;
}
.wrapper .header-menu-panel-block-titleee {
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px dashed black;
}
.wrapper .header-menu-panel-block-number {
  font-size: 24px;
  letter-spacing: -0.02em;
  font-weight: 300;
}
.wrapper .header-menu-panel-block:last-child {
  padding-bottom: 20px;
  border-bottom: 1px dashed black;
}
.wrapper .header-menu-panel-block:hover {
  padding-left: 20px;
}
.wrapper .header-menu-panel-block:hover .header-menu-panel-title {
  font-weight: bold;
}
.wrapper .header-menu-panel-block:hover .header-menu-panel-block-svg {
  left: 0px;
}
.wrapper .header-menu-panel-block-svg {
  position: absolute;
  left: -50%;
}
.wrapper .header-menu-panel-title {
  font-size: 16px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */